html, body  {
    min-height: 100%;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 1px 10% 0px;
    /* background: rgb(41, 38, 38); */
    background: #061d30;
    background-image: url(millionaire01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    /* background: rgb(41, 38, 38); */
    color: white;
    border: 1px, solid;
    border-color: white;    
    display: grid;
    /* grid-template-columns: 1fr 200px; */
    grid-template-rows: 115px 2fr 40px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-row-gap: 5px;
}

header {
    margin-bottom: 30px;
    border: solid;
    border-color: white;
    grid-area: header;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 25pt;
}
.subheader {
    font-size: 12pt;
}

.game {
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 225px 145px 145px;
    grid-template-areas: 
    "question   question  score"
    "answer1   answer2   score"
    "answer3   answer4   score";
    grid-gap: 10px;
}

.question {
    padding: 10px;
    border: solid;
    border-color: white;
    grid-column: question;
    font-size: 25pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

header, .question, .answer {
    background-color: rgba(41, 38, 38, 0.5);
    border-radius: 25px;
    text-align: center;
}

.answer {
    margin: 5px;
    padding: 20px;
    border: solid;
    border-color: white;
    width: auto;
    font-size: 25pt;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.answer:hover {
    background: rgba(255, 198, 41, 0.75);
    border: solid;
    border-color: orange;
}

.answer:active {
    background: rgba(62, 139, 62, 0.75);
    border: solid;
    border-color: green;
}
    
.a {
    grid-area: answer1;
}    

.b {
    grid-area: answer2;
}    
.c {
    grid-area: answer3;
}    
.d {
    grid-area: answer4;
}    
.scoretracker {
    /* padding: 10px; */
    grid-area: score;
    align-content: center;
    /* border: solid; */
    /* border-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23pt;
    /* justify-content: center; */
}

.money {
    background: rgba(250, 250, 250, 0.5);
    color: black;
    width: 94px;
    margin: 1px 53px 1px;
    padding: 0px 10px 0px 0px;
    text-align: right;
    border-radius: 20px;
    /* border: solid; */
    /* border-color: white; */
}

.cents {
    font-size: 9pt;
}

footer {
    font-size: 9pt;
    grid-area: footer;
    padding: 10px;
    background-color: blue;
}

#line {
    float: left;
}

#year {
    float: right;
}

.highlight {
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.9);
    border: solid;
    border-color: yellow;
    color: green;
}