html, body  {
    min-height: 100%;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 1px 10% 0px;
    background: rgb(41, 38, 38);
    color: white;
    border: 1px, solid;
    border-color: white;    
    display: grid;
    /* grid-template-columns: 1fr 200px; */
    grid-template-rows: 115px 2fr 40px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-row-gap: 5px;
}

header {
    margin-bottom: 30px;
    border: solid;
    border-color: white;
    grid-area: header;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 25pt;
}
.subheader {
    font-size: 12pt;
}

.game {
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 225px 145px 145px;
    grid-template-areas: 
    "question   question  score"
    "answer1   answer2   score"
    "answer3   answer4   score";
    grid-gap: 10px;
}

.question {
    padding: 10px;
    border: solid;
    border-color: white;
    /* grid-column: 1 / 3; */
    grid-column: question;
    text-align: auto;
}

.answers, .answer {
    margin: 5px;
    padding: 20px;
    border: solid;
    border-color: white;
    width: auto;
    }
    
.a {
    grid-area: answer1;
}    

.b {
    grid-area: answer2;
}    
.c {
    grid-area: answer3;
}    
.d {
    grid-area: answer4;
}    
.scoretracker {
    /* padding: 10px; */
    grid-area: score;
    align-content: center;
    /* border: solid; */
    /* border-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23pt;
    /* justify-content: center; */
}

.money {
    background: white;
    color: black;
    width: 94px;
    margin: 1px 53px 1px;
    text-align: right;
    /* border: solid; */
    /* border-color: white; */
}

.cents {
    font-size: 9pt;
}

footer {
    font-size: 9pt;
    grid-area: footer;
    padding: 10px;
    background-color: blue;
}

#line {
    float: left;
}

#year {
    float: right;
}
